services:
  - type: web
    name: empower4change
    env: node
    region: oregon
    plan: free
    buildCommand: cd e4c && npm install && npm run build
    startCommand: cd e4c && npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: CONTACT_EMAIL
        sync: false
      - key: DONATION_EMAIL
        sync: false
      - key: VOLUNTEER_EMAIL
        sync: false
      - key: NEXT_PUBLIC_SANITY_PROJECT_ID
        sync: false
      - key: NEXT_PUBLIC_SANITY_DATASET
        value: production
      - key: SANITY_API_TOKEN
        sync: false
